<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>gdev.info</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<!--	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<style>
	select{
		font-size: 16pt;
		color: gray;
		border: 1px solid gray;
		padding: 5px 15px;
	}

	table tr th{
		font-size: 16pt;
		color: white;
		background-color: blue;
		padding: 5px 15px;
	}
	table tr td{
		font-size: 16pt;
		color: gray;
		border: 1px solid gray;
		padding: 5px 15px;
	}
	#page_select_info {
		font-size: 16pt;
		color: gray;
		padding: 5px 15px;
	}
	</style>
	<h1>ゲーム開発情報</h1>
	<div id="app">

		<!-- ページ選択 -->
		<p id="page_select_info">表示項目
			<select v-model="page">
				<option v-for="option in page_options" v-bind:value="option.name" v-bind:key="option.id">{{ option.name }}</option>
			</select>
		</p>
         		
		<div v-if="page === '講演'">
			<table>
				<thead>
				<tr>
					<th v-for="(value, key) in columnsSession" @click="sortSessionBy(key)" :class="['sortable',{active: sortKeySession == key }]">
						{{ value }}
						<span class="arrow" :class="sortOrdersSession[key] > 0 ? 'asc' : 'dsec'">▼▲</span>
					</th>
				</tr>
				</thead>
				<tbody>
				
				<tr v-for="item in filteredSessionss">
					<td>{{item.id}}</td>
					<td>{{item.event}}</td>
					<td><a v-bind:href="decodeUrl(item)">{{item.title}}</a></td>
				</tr>
				</tbody>
			</table>
		</div>
		<div v-else-if="page === 'ツール'">
			<table>
				<thead>
				<th v-for="(value, key) in columnsTool" @click="sortToolBy(key)" :class="['sortable',{active: sortKeyTool == key }]">
					{{ value }}
					<span class="arrow" :class="sortOrdersTool[key] > 0 ? 'asc' : 'dsec'">▼▲</span>
				</th>
				</thead>
				<tbody>
				<tr v-for="item in filteredTools">
					<td v-for="(value, key) in columnsTool">{{ item[key] }}</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div v-else-if="page === 'ゲーム会社'">
			<table>
				<thead>
				<th v-for="(value, key) in columnsCompany" @click="sortCompanyBy(key)" :class="['sortable',{active: sortKeyCompany == key }]">
					{{ value }}
					<span class="arrow" :class="sortOrdersCompany[key] > 0 ? 'asc' : 'dsec'">▼▲</span>
				</th>
				</thead>
				<tbody>
					<tr v-for="item in filteredCompanies">
						<td>{{item.name}}</td>
						<td><a v-bind:href="decodeUrl(item)">{{item.url}}</a></td>
					</tr>
				</tbody>
			</table>
			<p>本サイトは、鈴木 英仁氏の「<a href="https://docs.google.com/spreadsheets/d/1JSA41-4fOaXMNqb-vBHodZePtBFdFXhAF_zZ8TYapn8/edit?fbclid=IwAR2naOBrCh1fcO2vhVHuNT6ZD78MErOuEBUmc-F8Imqm7wowlH-tUiUvnbo#gid=0">2021卒向け就職活動資料</a>」の情報を参考にさせていただいております。</p>
		</div>
		<div v-else>
		</div>
	</div>
	<div>本サイトは、公益財団法人 中山隼雄科学技術文化財団の研究助成事業の援助を受けて構築されました。<div>

	<script>
	var app = new Vue({
		el: '#app',
		methods: {
			sortSessionBy: function(key) {
				this.sortKeySession = key;
				this.sortOrdersSession[key] = this.sortOrdersSession[key] * -1;
			},
			
			sortToolBy: function(key) {
				this.sortKeyTool = key;
				this.sortOrdersTool   [key] = this.sortOrdersTool[key] * -1;
			},
			
			sortCompanyBy: function(key) {
				this.sortKeyCompany = key;
				this.sortOrdersCompany[key] = this.sortOrdersCompany[key] * -1;
			},
			
			decodeUrl: function(session){
				return session.url;
			},
			
		},

		computed: {

			filteredSessionss: function(src, sortKey) {
				var data = this.sessions;
				var sortKey = this.sortKeySession;
				var order = this.sortOrdersSession[sortKey] || 1;

				if (sortKey) {
					data = data.slice().sort(function(a, b){
						a = a[sortKey];
						b = b[sortKey];
						return (a === b ? 0 : a > b ? 1 : -1) * order;
					});
				}
				return data;
			},

			filteredTools: function(src, sortKey) {
				var data = this.tools;
				var sortKey = this.sortKeyTool;
				var order = this.sortOrdersTool[sortKey] || 1;

				if (sortKey) {
					data = data.slice().sort(function(a, b){
						a = a[sortKey];
						b = b[sortKey];
						return (a === b ? 0 : a > b ? 1 : -1) * order;
					});
				}
				return data;
			},

			filteredCompanies: function(src, sortKey) {
				var data = this.companies;
				var sortKey = this.sortKeyCompany;
				var order = this.sortOrdersCompany[sortKey] || 1;

				if (sortKey) {
					data = data.slice().sort(function(a, b){
						a = a[sortKey];
						b = b[sortKey];
						return (a === b ? 0 : a > b ? 1 : -1) * order;
					});
				}
				return data;
			},
		},
		data: function () {
			var columnsSession = {
				id: 'ID',
				event: 'イベント名',
				title: 'タイトル',
			};
			var columnsTool = {
				tool: 'ツール',
				title: 'タイトル',
				session_id: 'セッションID',
			};
			var columnsCompany = {
				name: '会社名',
				url: '採用情報名',
			};
			var sortOrdersSession = {};
			var sortOrdersTool    = {};
			var sortOrdersCompany = {};
			Object.keys(columnsSession).forEach(function (key) {sortOrdersSession[key] = 1});
			Object.keys(columnsTool   ).forEach(function (key) {sortOrdersTool   [key] = 1});
			Object.keys(columnsCompany).forEach(function (key) {sortOrdersCompany[key] = 1});

			
			return {
				page: '講演',
				page_options: [
					{ id: 1, name: '講演' },
					{ id: 2, name: 'ツール' },
					{ id: 3, name: 'ゲーム会社' },
				],

				sortKeySession: '',
				sortKeyTool:    '',
				sortKeyCompany: '',
				sortOrdersSession: sortOrdersSession,
				sortOrdersTool:    sortOrdersTool,
				sortOrdersCompany: sortOrdersCompany,
				columnsSession: columnsSession,
				columnsTool:    columnsTool,
				columnsCompany: columnsCompany,
				
				sessions:  [],
				tools:     [],
				companies: [],
			}
		},
		mounted: function () {
			axios.get('https://gdev.info//assets/session.json').then(response => {this.sessions  = response.data})
			axios.get('https://gdev.info//assets/tool.json'   ).then(response => {this.tools     = response.data})
			axios.get('https://gdev.info//assets/company.json').then(response => {this.companies = response.data})
		},
	})
	</script>
</body>
</html> 
