<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>gdev.info</title>
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
	<style>
	select{
		font-size: 16pt;
		color: gray;
		border: 1px solid gray;
		padding: 5px 15px;
	}

	table tr th{
		font-size: 16pt;
		color: white;
		background-color: blue;
		padding: 5px 15px;
	}
	table tr td{
		font-size: 16pt;
		color: gray;
		border: 1px solid gray;
		padding: 5px 15px;
	}
	#page_select_info {
		font-size: 16pt;
		color: gray;
		padding: 5px 15px;
	}
	</style>
	<h1>ゲーム開発情報</h1>
	<div id="app">

		<!-- ページ選択 -->
		<p id="page_select_info">表示項目
			<select v-model="page">
				<option v-for="option in page_options" v-bind:value="option.name" v-bind:key="option.id">{{ option.name }}</option>
			</select>
		</p>
         		
		<div v-if="page === '講演'">
			<table>
				<thead>
				<tr>

					<th v-on:click='sortBy("id")'    :class="['sortable',{active: sortKey == 'id'    }]" >インデックス<span class="arrow" :class="sortOrders['id'] > 0 ? 'asc' : 'desc'"> ▼</span></th>
					<th v-on:click='sortBy("event")' :class="['sortable',{active: sortKey == 'event' }]" >イベント名<span class="arrow" :class="sortOrders['event'] > 0 ? 'asc' : 'desc'"> ▼</span></th>
					<th v-on:click='sortBy("title")' :class="['sortable',{active: sortKey == 'title' }]" >タイトル<span class="arrow" :class="sortOrders['title'] > 0 ? 'asc' : 'desc'"> ▼</span></th>
<!--
					<th v-for="(value, key) in columns" @click="sortBy(key)">
						{{ value }}
						<span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
					</th>
-->

				</tr>
				</thead>
				<tbody>
				
				<tr v-for="session in filteredSessionss">
					<td>{{session.id}}</td>
					<td>{{session.event}}</td>
					<td><a v-bind:href="decodeUrl(session)">{{session.title}}</a></td>
	<!--
					<td><a v-bind:href="session.url">{{session.title}}</a></td>
					<td v-for="(value, key) in columns">
						{{session[key]}}
					</td>
	-->
				</tr>
				
	<!--
				<tr v-for="session in sessions">
					<td>{{session.name}}</td>
					<td>{{session.mail}}</td>
					<td>{{session.tel}}</td>
				</tr>
	-->
				</tbody>
			</table>
		</div>
		<div v-else-if="page === 'ツール'">
			<table>
				<thead>
				<tr>
					<th v-on:click='sortBy("tool")' :class="['sortable',{active: sortKey == 'tool' }]" >ツール<span class="arrow" :class="sortOrders['tool'] > 0 ? 'asc' : 'desc'"> ▼</span></th>
					<th v-on:click='sortBy("title")' :class="['sortable',{active: sortKey == 'title' }]" >タイトル<span class="arrow" :class="sortOrders['title'] > 0 ? 'asc' : 'desc'"> ▼</span></th>
					<th v-on:click='sortBy("session_id")' :class="['sortable',{active: sortKey == 'session_id' }]" >セッションID <span class="arrow" :class="sortOrders['session_id'] > 0 ? 'asc' : 'desc'"> ▼</span></th>
				</tr>
				</thead>
				<tbody>
				
				<tr v-for="tool in filteredTools">
					<td>{{tool.tool}}</td>
					<td>{{tool.title}}</td>
					<td>{{tool.session_id}}</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div v-else>
		</div>
		<div v-else-if="page === 'ゲーム会社'">
			<table>
				<thead>
				<tr>
					<th v-on:click='sortBy("name")' :class="['sortable',{active: sortKey == 'name' }]" >会社名<span class="arrow" :class="sortOrders['name'] > 0 ? 'asc' : 'desc'"> ▼</span></th>
					<th v-on:click='sortBy("url")' :class="['sortable',{active: sortKey == 'url' }]" >採用情報<span class="arrow" :class="sortOrders['url'] > 0 ? 'asc' : 'desc'"> ▼</span></th>
				</tr>
				</thead>
				<tbody>
				
				<tr v-for="campany in filteredCampanys">
					<td>{{campany.name}}</td>
					<td><a v-bind:href="decodeUrl(campany)">{{campany.url}}</a></td>
				</tr>
				</tbody>
			</table>
		</div>
		<div v-else>
		</div>
	</div>
	<div>本サイトは、公益財団法人 中山隼雄科学技術文化財団の研究助成事業の援助を受けて構築されました。<div>
	<div>本サイトは、鈴木 英仁氏の「<a href="https://docs.google.com/spreadsheets/d/1JSA41-4fOaXMNqb-vBHodZePtBFdFXhAF_zZ8TYapn8/edit?fbclid=IwAR2naOBrCh1fcO2vhVHuNT6ZD78MErOuEBUmc-F8Imqm7wowlH-tUiUvnbo#gid=0">2021卒向け就職活動資料</a>」の情報を参考にさせていただいております。<div>
	<script>
	
    <!-- メイン処理 -->
	var app = new Vue({
		el: '#app',
		methods: {
			sortBy: function(key) {
				this.sortKey = key;
				this.sortOrders[key] = this.sortOrders[key] * -1;
			},
			
			decodeUrl: function(session){
				return session.url;
			}
		},
		computed: {
			filteredSessionss: function () {
				var data = this.sessions;

				var sortKey = this.sortKey;
				var order = this.sortOrders[sortKey] || 1;

				if (sortKey) {
					data = data.slice().sort(function(a, b){
						a = a[sortKey];
						b = b[sortKey];
						return (a === b ? 0 : a > b ? 1 : -1) * order;
					});
				}
				return data;
			},

			filteredTools: function () {
				var data = this.tools;

				var sortKey = this.sortKey;
				var order = this.sortOrders[sortKey] || 1;

				if (sortKey) {
					data = data.slice().sort(function(a, b){
						a = a[sortKey];
						b = b[sortKey];
						return (a === b ? 0 : a > b ? 1 : -1) * order;
					});
				}
				return data;
			},
			
			filteredCampanys: function () {
				var data = this.campanys;

				var sortKey = this.sortKey;
				var order = this.sortOrders[sortKey] || 1;

				if (sortKey) {
					data = data.slice().sort(function(a, b){
						a = a[sortKey];
						b = b[sortKey];
						return (a === b ? 0 : a > b ? 1 : -1) * order;
					});
				}
				return data;
			}

		},
		data: function () {
			var columns = {
				id: 'ID',
				event: 'イベント名',
				url: 'url',
				title: '講演名',
			};
			var sortOrders = {};
			Object.keys(columns).forEach(function (key) {
				sortOrders[key] = 1
			});
			
			return {
				page: '講演',
				page_options: [
					{ id: 1, name: '講演' },
					{ id: 2, name: 'ツール' },
					{ id: 3, name: 'ゲーム会社' },
				],

				sortKey: '',
				sortOrders: sortOrders,
				
				columns: columns,
				pageType: 'session',
				sessions: require("./assets/session.json"),
				tools: require("./assets/tool.json"),
				campanys: require("./assets/campany.json"),
			}
		},
	})
	</script>
</body>
</html> 
